<template>
  <div class="about">
    <Titulo texto="Página de about"/>
  </div>
</template>

<script>
import Titulo from '../components/Titulo'

export default {
  name: 'about',
  components: {
    Titulo
  }
}
</script>
