<template>
    <Titulo texto="Ruta con parámetros"/>
    <h2>Parámetros: {{$route.params.id}}</h2>
    <h3>{{ articulo.title }}</h3>
    <hr>
    <p>{{ articulo.body }}</p>
</template>

<script>
    import Titulo from '../components/Titulo'
    export default {
        name: 'articulo',
        components: {
            Titulo
        },
        data() {
            return {
                articulo: {}
            }
        },
        methods: {
            async getArticulo() {
                try {
                    console.log(this.$route.params.id)
                    const data = await fetch(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`)
                    const objArticulo = await data.json()
                    this.articulo = objArticulo
                    console.log('articulo', this.articulo)
                }
                catch (error) {
                    console.log(error)
                }
            }
        },
        created() {
            this.getArticulo()
        }
    }
</script>

<style scoped>

</style>