<template>
  <div class="blog">
    <h1>This is a blog page</h1>
    <Titulo
        v-if="activeTitle"
        texto="Tilulo activado"
    />
    <div v-for="item in arrayBlog" :key="item.id">
        <router-link :to="`/blog/${item.id}`">
            {{item.id}} - {{item.title}}
        </router-link>
    </div>
    <button @click="activeTitulo">Activar titulo</button> | 
    <button @click="desactiveTitulo">Desactivar titulo</button>
  </div>
</template>

<script>
import Titulo from '../components/Titulo'
export default {
    name: 'blog',
    data() {
        return {
            activeTitle: false,
            arrayBlog: []
        }
    },
    components: {
        Titulo
    },
    methods: {
        activeTitulo() {
            this.activeTitle = true
        },
        desactiveTitulo() {
            this.activeTitle = false
        },
        async llamadaApi() {
            try {
                const data = await fetch('https://jsonplaceholder.typicode.com/posts')
                const array = await data.json()
                console.log(array)
                this.arrayBlog = array
            } catch (error) {
                console.log(error)
            }
        }
    },
    created() {
        this.llamadaApi()
    }
}
</script>
